body {
  color: #545454;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container-top {
  background-color: #E0EBE8;
  height: 100vh;
  margin: 0;
}

.container-middle{
  line-height: 1.75rem;
  margin: 0;
  padding: 2rem 0 2rem 0;
}

.container-bottom {
  background-color: #4AB19A;
  color: #21564b;
  margin: 0;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

.header {
  display: block;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 2rem;
}

.navigation {
  float: right;
}

.navigation-list {
  display: inline;
}

.navigation-btn {
  color: #4AB19A;
  display: inline-block;
  font-size: 1rem;
  margin: auto auto auto 1rem;
  text-decoration: none;
}

.navigation-btn:hover {
  color: #21564b;
}

.profile-pic {
  border-radius: 50%;
  width: 5rem;
}

.introduction {
  clear: left;
}

.introduction-name {
  color: #4AB19A;
  font-family: 'Sacramento', cursive;
  font-size: 5.3125rem;
  margin: auto;
  text-align: center;
}

.introduction-bio {
  color: #4AB19A;
  font-size: 20px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

.introduction-img-code{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
}

.bio{
  margin: auto;
  text-align: center;
  width: 25rem;
}

.bio-img{
  background: #F3F2F1;
  border-radius: 50%;
  width: 8rem;
}

.bio-intro{
  color: #4AB19A;
}

.foooter {
  padding: 5rem;
}

.footer-link {
  color: #21564b;
  padding: 1rem;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
  text-decoration: none;
}
