body {
    color: #545454;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.bg-prim {
 background-color: #4AB19A;
}

.container-top {
    background-color: #E0EBE8;
    height: 100vh;
    margin: 0;
}

.container-middle {
    line-height: 1.75rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.container-bottom {
    background-color: #4AB19A;
    color: #21564b;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

.container-middle-section {
    margin: 6rem auto;
    text-align: center;
}

.container-middle-img {
    background: #F3F2F1;
    border-radius: 50%;
    width: 8rem;
}

.container-middle-header {
    margin: 1.5rem auto 0 auto;
    color: #4AB19A;
}

.container-middle-header-main {
    color: #1E836C;
    font-size: 3.5rem;
    font-weight: lighter;
}

.separator {
    border-style: none;
    border-top-style: dotted;
    border-width: 0.5rem;
    color: #F3F2F1;
    margin: 6rem auto;
    width: 5rem;
}

.spaced-br {
    content: "";
    display: block;
    margin: 1rem;
}

.btn-message-me {
    background: #4AB19A;
    border: 0;
    border-radius: 0.25rem;
    color: #21564B;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin: 2rem auto;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-message-me:hover {
    background: #21564b;
    color: white;
}

.font-weight-light {
    font-weight: lighter;
}

.half-parent-width {
    width: 50%
}

.center {
    margin: auto;
}

.header {
    display: block;
    margin-left: 6rem;
    margin-right: 6rem;
    padding: 2rem;
}

.navigation {
    float: right;
}

.navigation-list {
    display: inline;
}

.navigation-btn {
    color: #4AB19A;
    display: inline-block;
    font-size: 1rem;
    margin: auto auto auto 1rem;
    text-decoration: none;
}

.navigation-btn:hover {
    color: #21564b;
}

.profile-pic {
    border-radius: 50%;
    width: 5rem;
}

.introduction {
    margin: auto;
}

.introduction-name {
    color: #4AB19A;
    font-family: 'Sacramento', cursive;
    font-size: 5.3125rem;
    margin: 5rem auto 0 auto ;
    text-align: center;
}

.introduction-bio {
    color: #4AB19A;
    font-size: 1.25rem;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

.introduction-img-code {
    display: block;
    height: 1%;
    margin: 0 auto;
}

.bio {
    margin: auto;
    width: 25%;
}

.work {
    margin: 6rem auto;
    width: 50%;
}

.work-title {
    text-align: left;
}

.work-description {
    overflow: auto;
    text-align: left;
    text-align: justify;
}

.work-link {
    color: #4AB19A;
    text-decoration: none;
}

.work-link:hover {
    color: #21564b;
}

.work-img-left {
    float: left;
    margin-right: 3rem;
    width: 6rem;
}

.work-img-right {
    float: right;
    margin-left: 3rem;
    width: 6rem;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.foooter {
    padding: 5rem;
}

.footer-link {
    color: #21564b;
    padding: 1rem;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}
